body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Landing Page */
.home-link {
  cursor: pointer;
}
.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.room-chat-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.burger-menu-header {
  display: none !important;
}

/* Room Container */

.room-container {
  width: 25%;
  border-right: 5px solid #1976d2;
  background-color: #004183;
}

/* Room */

.single-room-container {
  width: 100%;
  border-bottom: 4px solid #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 0.5em 0em;
}

.single-room-container:hover {
  background-color: #135ba3;
}

.active-room {
  background-color: #135ba3;
}

.single-room-name {
  margin: 0em 0em 0em 1em;
  font-size: 1.75em;
}

/* Chat Container */

.chat-container {
  flex: 1 1 auto;
  height: 92vh;
}

.message-container {
  display: flex;
  height: 90%;
  flex-direction: column;
  overflow-y: auto;
}

.single-message-container {
  width: 100%;
  border-bottom: 4px solid #1976d2;
  position: relative;
}

.server-message {
  background-color: #004183;
  color: white;
}

.single-message {
  margin-left: 1em;
  font-size: 1.25em;
}

.message-form {
  height: 10%;
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
  align-items: center;
}

.message-input {
  width: 85%;
  margin-left: 1em !important;
}

.submit-message-button {
  width: 10%;
  height: 60%;
}

.delete-message-button {
  position: absolute;
  font-weight: bold;
  font-size: 1.25em;
  color: red;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.delete-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 1.75em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete-modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 15px;
  border: 1px solid #888;
  width: 50%;
}

/* Login */

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;
}

.login-wrapper {
  color: #1976d2;
  background-color: white;
  width: 50%;
  text-align: center;
  padding: 1em;
  box-shadow: 0px 2px 2px rgb(104, 104, 104);
  border-radius: 5px;
}

.login-header {
  font-size: 3em;
  margin-bottom: 0;
}

.sign-in-container h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.login-fields {
  width: 50%;
  margin: 0.5em 0;
}

.login-input-field {
  width: 100%;
}

.sign-in-button {
  margin: 0.5em 0em !important;
}

.swap-sign-view {
  font-size: 0.75em !important;
  cursor: pointer;
}

.login-error {
  font-size: 1em !important;
  text-align: left;
  color: red;
  margin: 0;
}

/* media queries */

@media screen and (max-height: 800px) {
  .message-container {
    margin-bottom: 1em;
  }

  .chat-container {
    height: 90vh;
  }
}

@media screen and (max-height: 700px) {
  .chat-container {
    height: 88vh;
  }
  .submit-message-button {
    height: 100%;
  }
}

@media screen and (max-height: 600px) {
  .message-form {
    margin-top: 1em !important;
  }
}

@media screen and (max-width: 850px) {
  .message-input {
    width: 75%;
  }

  .submit-message-button {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .login-wrapper {
    width: 75%;
    font-size: 0.75em;
  }

  .swap-sign-view {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 700px) {
  .burger-menu-header {
    display: inline-flex !important;
  }

  .room-container {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .message-form {
    padding: 0.5em;
  }

  .message-input {
    margin-left: 0 !important;
  }

  .login-fields {
    width: 60%;
  }

  .delete-modal-content {
    font-size: 0.75em;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
  margin: 0;
  font-family: "Satisfy", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}

code {
  font-family: "Satisfy", cursive;
}

.rock {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.ghost {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.electric {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.bug {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.poison {
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

.normal {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.fairy {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}

.fire {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.grass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.water {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.ground {
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 1rem;
}

.app-container h1 {
  width: 0ch;
  color: rgb(16, 166, 236);
  overflow: hidden;
  white-space: nowrap;
  animation: text 4s steps(15) infinite alternate;
}

@keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 15ch;
    color: rgb(218, 55, 5);
  }
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.2rem;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.thumb-container :hover {
  margin: 0.7rem 0;
}

h3 {
  margin-bottom: 0.2rem;
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.thumb-container img {
  width: 120px;
  height: 120px;
}

.thumb-container small {
  text-transform: capitalize;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}

.load-more {
  background-color: #76daff;
  background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  margin-top: 1rem;
  font-family: "Satisfy", cursive;
}

button:hover {
  background-color: #ff0000;
  background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
}

.pokeinfo {
  margin: 0 25px;
  font-family: "Satisfy", cursive;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.pokeinfo:hover {
  background-image: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
}

h3 {
  text-decoration: underline;
}
